body{
  font-family: "Verdana";
  width: 100%;
  height: 100%;
  overflow-y: scroll; 
  overflow-x:hidden;
}

#banner{
  background-color: #0C233F;
  display: block;
  margin: auto;
  position: relative;
  bottom: 20px;
}

#title{
  color: white;
  font-size: 120%;
  position: relative;
  left: 20px;
  top: 5px;
}

#logo{
  position: relative;
  top: -8px;
  left: 15px;
}

#slideshow{
  
}

#slideshow-image{
  display: block;
  margin: auto;
  position: relative;
  top: 20px;
}
#footer{
  background-color: #0C233F;

}
